@{
    ViewBag.Title = "Dates";
}

<h2>Dates</h2>

<div id="output"></div>

@section scripts
{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/custom/home_dates.js"></script>
}




