@{
    ViewBag.Title = "Functions";
}

<h2>Functions</h2>

<div id="output"></div>
<div class="jumbotron" id="additional-output">
    @Html.Partial("_Functions")
</div>


@section scripts
{
    <script src="~/Scripts/custom/home_functions.js"></script>
    <script src="~/Scripts/custom/home_functions_p.js"></script>
}
