@{
    ViewBag.Title = "Home Page";
}
<p class="jumbotron">
    Everything a beginner needs to get started programming with JavaScript
    <br/>
    <br />
    Douglas Crockford
    <br/>
    Javascript: The Good Parts
</p>
@section scripts
{
    <script src="~/Scripts/custom/home_index.js"></script>
}
